{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Sign in</h1>
  </div>
  <div class="row">
    <form action="/login.html" method="POST">
      <div class="form-floating mb-3">
        <input
          name="email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Keep me signed in</label
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p>
        Don't have an account?
        <a
          class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          href="/signup.html"
        >
          Sign up here!
        </a>
      </p>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
  </div>
  <div class="row"></div>
</div>
{% endblock %}
