{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Sign up</h1>
  </div>
  <div class="row">
    <form action="/signup.html" method="POST">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          name="email"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          name="password"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Keep me signed in</label
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p>
        Already have an account?
        <a
          class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          href="/"
        >
          Sign in here!
        </a>
      </p>
    </form>
  </div>
  <div class="row"></div>
</div>
{% endblock %}
